/**
 * @name SublimeCord
 * @author Justin
 * @version 1.0.0
 * @description Sublime Discord Theme.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/MinimalCord
 * @website https://www.justinsoon.github.io/sublimecord
*/

@import url('https://fonts.googleapis.com/css?family=Consolas:300,400,500,700,900');
@import url("https://justinsoon.github.io/SublimeCord/base.css");
@import url("https://justinsoon.github.io/SublimeCord/bases.css"); /* radial status */

/* Black Box user tags */
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');


:root {
    /*
        Accent variable
        Use this website: https://htmlcolorcodes.com/color-picker/
        to get your desired RGB numbers. Then simply put each number in their respective area.
        R,G,B
    */
    --accent: 0, 105, 255; /* DEFAULT: 22, 188, 249 */
    --search-results-width: 25vw; /* Width of server results. For a fixed width use px. | DEFAULT: 25vw */
    --emoji-picker-height: 260px; /* Height of Emoji picker | DEFAULT: 260px */
    --chat-message-padding: 20px; /* Spacing around messages | DEFAULT: 20px */
    --chat-message-spacing: 3px; /* Spacing between message | DEFAULT: 20px */
    --rs-small-spacing: 2px;  /* spacing between avatar and status */
    --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles */
    --rs-width: 2px;  /* Width/thickness of status border */
    --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
    --rs-online-color: #43b581;  /* color for online status */
    --rs-idle-color: #faa61a;  /* color for idle status */
    --rs-dnd-color: #f04747;  /* color for dnd status */
    --rs-offline-color: #636b75;  /* color for offline status */
    --rs-streaming-color: #643da7;  /* color for streaming status */
    --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */

    /*
        To use a custom font. Visit https://fonts.google.com and select one to your liking.
        Now just follow this tutorial: https://imgur.com/a/CNbw7xC
    */
    --font: 'Consolas';
}
